# OS & Editor Junk
.DS_Store
.vscode/
.idea/

# Jupyter & Python artifacts
.ipynb_checkpoints/
__pycache__/
*.pyc

# Virtual environments
venv/

# SSH key
backend/*.pem

# Build artifacts and compressed files
*.zip
frontend/dist/
frontend/node_modules/

# Lock file
package-lock.json


