# OS & Editor Junk
.DS_Store
.vscode/
.idea/

# Jupyter & Python artifacts
.ipynb_checkpoints/
__pycache__/
*.pyc

# Virtual environments
venv/

# Terraform (relative path)
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup




